.movie{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 20%;
}

.movie img{
  width: 80px;
  height: 100px;
}

.wached{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wached img{
  width: 80px;
  height: 100px;
}

.wached-rating{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wached-movies{
  width: 20%;
  float: right;
  top: 0;


  display: grid;
}
