@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Changa+One:ital@0;1&family=Lato:wght@300&family=Roboto+Condensed&display=swap');

.logo{
  font-size: 30px;
  font-family: 'Caveat', cursive;
  margin-left: 30%;
}

input[type='search']{
  width: 50%;
  height: 40px;
  border-radius: 20px;
  margin-top: 6%;
  border: none;
  margin-left: 30%;
}

input[type='search']::placeholder{
  padding-left: 5%;
}

.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aqua;
  width: 100%;
}

.result{
  margin-top: 6%;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  margin-left: 30%;
}
